body {
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: flex;
    padding: 20px;
}

.section {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #f9f9f9;
}

.fa-id-card {
    margin-right: 10px;
}

.section-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.section-header h3 {
    margin: 0;
    font-size: 18px;
}

.section-header img {
    margin-right: 20px;
}

.section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.section-content label {
    font-weight: bold;
}

.section-content input,
.section-content textarea {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
}

.section-content textarea {
    height: 80px;
}

#choose-image-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button{
    background-color: var(--greenHeader);
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
}